<div class="container">
	<h1>配送先編集</h1>
	<%= form_for(address) do |f| %>
		<tr>
			<td>郵便番号(ハイフンなし) <%= f.text_field_tag "post_code" %></td>
			<td>住所 <%= f.text_field_tag "addressee" %></td>
			<td>宛名 <%= f.text_field_tag "name" %></td>
				 	 <%= f.submit "編集する", class: "btn-primary btn-lg" %></td>
		</tr>
	<% end %>
</div>