<div class="container">
<div class="row">
	<h1 style="margin-top: 120px;">配送先編集</h1>
	<%= form_for(@address) do |f| %>
		<table>
			<tr>
				<th>郵便番号(ハイフンなし)</th><th> <%= f.text_field :post_code %></th>
			</tr>
			<tr>
				<th>住所 </th><th><%= f.text_field :customer_address %></th>
			</tr>
			<tr>
				<th>宛名 </th><th><%= f.text_field :name %></th>
			</tr>
			<tr>
				<td><%= f.submit :編集する , class: "btn-primary btn-lg" %></td>
			</tr>
		</table>
	<% end %>
</div>
</div>