<h1 style="margin-top: 100px;"></h1>

    <%= form_for(resource, as: resource_name, url: customers_sign_up_path) do |f| %>
    <%= render "customers/shared/error_messages", resource: resource %>


  <div class="container" style="padding-left: 450px;">
<h3>新規登録</h3>

  <div class="field">
    <%= f.label :family_name %>姓<br />
    <%= f.text_field :family_name, autofocus: true, class: "family_name" %>
  </div>


    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, class: "first_name" %>
    </div>

    <div class="field">
      <%= f.label :family_name_kana %><br />
      <%= f.text_field :family_name_kana, autofocus: true, class: "family_name_kana" %>
    </div>

    <div class="field">
      <%= f.label :first_name_kana %><br />
      <%= f.text_field :first_name_kana, autofocus: true, class: "first_name_kana" %>
    </div>

    <div class="field">
      <%= f.label :post_code %><br />
      <%= f.number_field :post_code, autofocus: true, class: "post_code" %>
    </div>

    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address, autofocus: true, class: "adress" %>
    </div>

     <div class="field">
      <%= f.label :telephone %><br />
      <%= f.number_field :telephone, autofocus: true, class: "telephone" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</div>
  <div class="actions" style="padding-left: 400px;">
    <%= f.submit "登録" %>
  </div>
<% end %>
