<div class="container">
  <h1 style="margin-top: 120px;">商品編集</h1>

  <p id="notice"><%= notice %></p>

  <%= form_with model: @item, url:admin_items_path(@item.id), method: :patch, local: true do |f| %>
    <%= render 'layouts/error', model: f.object %>

  <% end %>

  <%= form_for [:admin, @item] do |f| %>

    <div class="col-xs-5" style ="margin-top: 40px">

      <div class="item-img">
        <%= attachment_image_tag @item, :image, id: "file-preview", style: "width:100%; "%>
      </div>

      <div class="item-new-form">
        <%= f.attachment_field :image, id: "file_btn" %>
      </div>

    </div>

    <div class="col-xs-5" style ="margin: 40px">
      <%= render "form_item", f: f %>
    </div>

  <% end %>
</div>


<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#file-preview').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#file_btn").change(function(){
   readURL(this);
 });
});
</script>