<div class="container">
  <h1 style="margin-top: 120px;">商品一覧</h1>

  <p style="color:#EEE;"><%= flash[:success] %></p>

  <div class="new-btn-wrap">
     <%= link_to "商品登録", new_admin_item_path, class: "btn btn-primary btn-new-register btn-lg"; %>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜き価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= "#{item.price}円" %></td>
          <td><%= item.genre.name %></td>
          <td>
            <% if item.is_active? %>
              <span class="badge" style="background:#8BCE9A">販売中</span>
            <% else %>
              <span class="badge" style="background:#D52438">販売停止</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row text-center">
    <%= paginate @items, class: "paginate" %>
  </div>
</div>