<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
     <p id="notice"><%= notice %></p> <!--サクセスメッセージ-->
      <div class="row">
        <%= form_with model: @item, url:admin_items_path, method: :post do |f| %>
        <%= render 'layouts/error', model: f.object %><!--エラーメッセージ -->
        <div class="col-xs-5">
          <h2>商品登録画面</h2>
          <div class="item-new-form">
            <%= f.attachment_field :image %>
          </div>
          <!-- <div class="item-img">
            <%= image_tag 'sample_image.jpeg', id: "file-preview", :size => '350x300' %>
          </div> -->
        </div>
        <div class="col-xs-5 col-xs-offset-2">
          <table class="new-form-table">
            <tbody>
              <tr>
                <th>商品名</th>
                <td><%= f.text_field :name, class: "form-control" %></td>
              </tr>
              <tr>
                <th>商品説明</th>
                <td><%= f.text_area :introduction, class: "form-control" %></td>
              </tr>
              <tr>
                <th>ジャンル</th>
                <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></td>
              </tr>
              <tr>
                <th>税抜き価格</th>
                <td><%= f.text_field :price, class: "form-control" %></td>
              </tr>
              <tr>
                <th>販売ステータス</th>
                <td><%= f.select :is_active, [["販売停止中",0],["販売中",1]], include_blank: "--選択してください--" %></td>
              </tr>
            </tbody>
          </table>
          <%= f.submit '作成', class: "btn btn-success btn-new-register btn-lg" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>