<div class="container">
  <h1 style="margin-top: 120px;">商品登録</h1>
  <p id="notice"><%= notice %></p>

  <%= form_with model: @item, url:admin_items_path, method: :post ,local:true do |f| %>
  <%= render 'layouts/error', model: f.object %>


    <div class="col-xs-5" style ="margin: 60px 0 60px 0">

      <div class="item-img">
        <%= image_tag 'no_image.png', id: "file-preview",  style: "width:100%; "%>
      </div>

      <div class="item-new-form">
        <%= f.attachment_field :image, id: "file_btn" %>
      </div>

    </div>

    <div class="col-xs-5" style ="margin: 60px 0 60px 0">
      <%= render "form_item", f: f %>
    </div>

  <% end %>
</div>


<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#file-preview').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#file_btn").change(function(){
   readURL(this);
 });
});
</script>