<div class="container">
	<br>
	<h1>注文情報確認画面</h1>
	<br>
	<%= @order.name %>
	<%= @order.post_code(@order) %>
	<%= @order.total_payment(@order) %>
	<br>
	<h2><%= link_tp '注文を確定する', orders_complete_path, method: :POST, class: "btn-block btn-warning" %>
    </h2>
	<%= form_for @order do |f| %>
	  <%= @order.name %>
	  <%= @order.post_code %>
	  <%= @order.total_payment %>
	  <%= f.submit '投稿画面に戻る', name: 'back' %>
	  <%= f.submit '注文を確定する' %>
	<% end %>
	<%= link_to "戻る", orders_path, class: "back" %>
