<div class="container confirm_background_image" style="width:100%;">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<h2 style="margin-top: 120px;"><strong>注文情報確認</strong></h2>
			<thead>
				<table class="z mytable table_title" border="1" style="width: 700px;  text-align: center;">
					<tr>
						<th>商品名</th><th>単価(税込)</th>
						<th>数量</th><th>小計</th>
					</tr>
					<% @sum = 0 %>
					<% current_customer.cart_items.each do |cart_item| %>
						<tr>
							<td><%= attachment_image_tag cart_item.item, :image, size: "100x50",  fallback: "no_image.png" %>
								<%= cart_item.item.name %></td>
							<td><%= cart_item.item.price %></td>
							<td><%= cart_item.quantity %></td>
							<td><%= (cart_item.item.price*cart_item.quantity*1.10).round %></td>
							<% @sum += (cart_item.quantity*cart_item.item.price*1.10).round %>
						</tr>
					<% end %>
				</table>
			</thead>
			<table class="y mytable table_title" border="1" style="width: 700px; height:150px; text-align: center; margin: 10px 0;">
				<tr>
					<th>送料</th>
					<td><%= @deliver_fee %></td>
				</tr>
				<tr>
					<th>商品合計</th>
					<td><%= @sum %></td>
				</tr>
				<tr>
					<th>請求金額</th>
					<td><%= @sum + @deliver_fee %></td>
				</tr>
			</table>
			<table class=" table mytable" style="height: 150px;">
				<tr>
						<th><strong><h4>支払方法</h4></strong></th>
						<td><%= session[:order][:how_to_pay] %></td>
				</tr>
				<tr>
						<th><strong><h4>お届け先</h4></strong></th>
						<td><%= session[:order][:post_code]+session[:order][:address] %></td>
					</tr>
					<tr>
						<th><strong><h4>お名前</h4></strong></th>
						<td><%= session[:order][:name] %></td>
				<tr>
			</table>
			<div style="margin-top: 20px; text-align: center;">
			<%= form_for (@order) do |f| %>
				<%= f.hidden_field :total_payment, value: @sum + @deliver_fee %>
				<%= f.submit '購入を確定する', class: "btn-default btn-sm",:style=>"background-color:black; color:#fff;" %>
			<% end %>
			</div>

		</div>
	</div>
</div>