<div class="container new_background_image" style=" width: 100%;">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-8">
  <h2 style="margin-top: 120px;"><strong>注文情報入力</strong></h2>
  <%= form_with(model: @order, url: orders_confirm_path, local: true) do |f| %>
    <div class="font">
      <% if flash[:notice] %>
        <p><%= flash[:notice].html_safe %></p>
      <% end %>
      <h3>支払方法</h3>
        <p><label><%= f.radio_button :how_to_pay, :クレジットカード %>クレジットカード</label></p>
        <p><label><%= f.radio_button :how_to_pay, :銀行振込 %>銀行振込</label></p>
        <h2>お届け先</h2>
        <tr><%= radio_button_tag :any, 1 %>ご自身の住所
        </tr><br>
        <tr><%= @customer.post_code %>
          <%= @customer.address %>
        </tr><br>
        <tr><%= @customer.family_name %>
          <%= @customer.first_name %>
        </tr>
        <p><label><%= radio_button_tag :any, 2 %>登録済住所から選択</label></p>
    </div>
        <p><%= f.select :address, @customer.addresses.map{|o| [o.post_code + "  " + o.customer_address + " " + o.name, o.id]}, include_blank: '選択して下さい' %>
        </p>
        <div class="font">
          <% if @order.errors.any? %>
          <h2><%= @order.errors.count %> 個のエラーがあります</h2>
          <ul>
            <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
          <% end %>
        <table>
          <label><tr><%= radio_button_tag :any, 3, false, onClick: "changeDisabled()" %>新しいお届け先</tr></label>
          <tr id='post_code_text' style='display: none'>
            <th style="padding:6px;">郵便番号(ハイフン無し) </th><th style="color: #000;"><%= f.text_field :post_code, class: "post_code" ,size:21 %></th>
          </tr>
          <tr id='customer_address_text' style='display: none' >
            <th style="padding:6px;">住所</th><th style="color: #000;"><%= f.text_area :customer_address, class: "customer_address" %></th>
          </tr>
          <tr id='name_text' style='display: none' >
            <th style="padding:6px;">宛名</th><th style="color: #000;"><%= f.text_field :name, class: "name",size:21 %></th>
          </tr>
        </table>
        </div>
      <div class="actions">
        <%= f.submit "確認画面へ進む",  class: "btn btn-default",:style=>"background-color:black; color:#fff;" %>
      </div>
  <% end %>
    </div>
  </div>
</div>
<script>
  document.getElementById("any_1").onclick = function() {
    // ここに#buttonをクリックしたら発生させる処理を記述する
  document.getElementById("post_code_text").style.display = 'none' ;
  document.getElementById("customer_address_text").style.display = 'none' ;
  document.getElementById("name_text").style.display = 'none' ;
  }; 

  document.getElementById("any_2").onclick = function() {
  document.getElementById("post_code_text").style.display = 'none' ;
  document.getElementById("customer_address_text").style.display = 'none' ;
  document.getElementById("name_text").style.display = 'none' ;
  }; 

  document.getElementById("any_3").onclick = function() {
  console.log('click');
  document.getElementById("post_code_text").style.display = '' ;
  document.getElementById("customer_address_text").style.display = '' ;
  document.getElementById("name_text").style.display = '' ;
  }; 
</script>
