<h1 style="margin-top: 120px;">注文情報入力</h1>
    <h2>支払方法</h2>
        <%= form_with model: @order, url:orders_path,method: :post, local: true do |f| %>
            <h3>支払い方法</h3>
            <label><%= f.radio_button :how_to_pay, :クレジットカード, :0 %></label>クレジットカード
            <label><%= f.radio_button :how_to_pay, :銀行振込, :1 %></label> 銀行振込

            <h3>お届け先</h3>
            <label><%= f.radio_button :address,"ご自身の住所" %>ご自身の住所</label>
            <h4>郵便番号</h4>
            <%= @customer.post_code %>
            <h4>住所</h4>
            <%= @customer.address %>
            <br>
            <label><%= f.radio_button :addressee,"登録済み住所から選択" %>登録済み住所から選択</label>
            <br>
            <%= f.collection_select(:customer, @addresses, :id, :customer_info) %>
            <label><%= f.radio_button :customer_address,"新しいお届け先" %>新しいお届け先</label>
            <h4>郵便番号(ハイフン無し)<%= f.text_field :post_code %></h4>
            <h4>住所<%= f.text_field :addressee %></h4>
            <h4>宛名<%= f.text_field :name %></h4>
             <%= f.submit "確認画面へ進む", class: "btn-primary .text-center" %>
        <%end%>

