<div class="container">
<h1>注文詳細履歴</h1>
	<h2>注文情報</h2>
	<table border='1'>
		<tr>
			<th>注文日</th><td><%= @order.created_at %></td>
			<th>配送先</th><td><%= @order.address %></td>
			<th>支払方法</th><td><%= @order.how_to_pay %></td>
			<th>ステータス</th><td>%= @order.status %></td>
		</tr>
	</table>

	<h2>注文内容</h2>
	<table border='1'>
		<tr>
			<th>商品</th><th>単価(税込)</th>
			<th>個数</th><th>小計</th>
		</tr>
		<th>
			<td><%= @order.name %></td>
			<td><%= @order.price %></td>
			<td><%= @


</div>