<h1><%= @customer.family_name %><%= @customer.first_name%>さんの会員情報編集</h1>

<table class="table">
	<%= form_with model: @customer, url:edit_admin_customer_path(@customer), method: :patch, local: true do |f| %><!--local: trueにすることで非同期で行わないようにしている-->
	<%= render 'layouts/error', model: f.object %>

		<tbody>
		  <tr>
		    <th>会員ID</th>
		    <td><div class="field">
					<%= f.text_field :id %>
				</div>
			</td>
		  </tr>

		  <tr>
		    <th>氏名</th>
			    <td><div class="field">
						<%= f.text_field :family_name %>
					</div>
				</td>
				<td><div class="field">
						<%= f.text_field :first_name %>
					</div>
				</td>
		  </tr>

		  <tr>
		    <th>フリガナ</th>
		    	<td><div class="field">
						<%= f.text_field :family_name_kana %>
					</div>
				</td>
				<td><div class="field">
						<%= f.text_field :first_name_kana %>
					</div>
				</td>
		  </tr>

		  <tr>
		    <th>郵便番号</th>
			    <td><div class="field">
						<%= f.text_field :post_code %>
					</div>
				</td>
		  </tr>

		  <tr>
		    <th>住所</th>
		    	<td><div class="field">
						<%= f.text_field :address %>
					</div>
				</td>
		  </tr>

		  <tr>
		    <th>電話番号</th>
		    	<td><div class="field">
						<%= f.text_field :telephone %>
					</div>
				</td>
		  </tr>

		  <tr>
		    <th>メールアドレス</th>
				<td><div class="field">
						<%= f.text_field :email %>
					</div>
				</td>
		  </tr>

		  <tr>
		    <th>会員ステータス</th>
			    <td>
			    	<label><%= f.radio_button :is_active, :true %> 有効 </label><!--booleanはtかfを返す-->
					<label><%= f.radio_button :is_active, :false %> 無効</label>
			    </td>
		  </tr>

		  <tr>
		  	<td>
			  	<div class="actions">
					<%= f.submit class: "btn btn-primary col-xs-12" %>
				</div>
			<td>
		  </tr>

		  <% end %>
		</tbody>

</table>


