<div class="container">
	<h1 style="margin-top: 120px;">会員一覧</h1>
		<table class="table">
			<thead>
				<tr>
					<th>会員ID</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>ステータス</th>
				</tr>
			</thead>

			<tbody>
				<% @customers.each do |customer| %>
				<tr>
					<td  style="padding-top: 20px;">
						<%= customer.id %>
					</td>

					<td style="padding-top: 20px;">
						<%= link_to admin_customer_path(customer.id) do %>
							<%= customer.family_name %><%= customer.first_name %>
						<% end %>
					</td>

					<td style="padding-top: 20px;">
						<%= customer.email %>
					</td>

					<td style="padding-top: 20px;">
						<% if customer.is_deleted == false %>
				 			<h5>有効</h5>
				 		<% else %>
				 			<h5>無効</h5>
				 		<% end %>
				 	</td>
				</tr>
				<% end %>
				<%= paginate @customers %>
			</tbody>
		</table>
</div>