
<h1 style="margin-top: 60px;"><%= @customer.family_name %><%= @customer.first_name%>さんの会員詳細</h1>


<table>

	<tr>
	<th>顧客ID</th>
	<td><%= @customer.id %></td>
		<td>
			<%if @customer == true %>
				<h5>有効</h5>
			<% else %>
				<h5>無効</h5>
			<% end %>
		</td>
	</tr>

	<tr>
	<th>氏名</th>
	<td><%= @customer.family_name %><%= @customer.first_name %></td>
	</tr>

	<tr>
	<th>フリガナ</th>
	<td><%= @customer.family_name_kana %><%= @customer.first_name_kana %></td>
	</tr>

	<tr>
	<th>郵便番号</th>
	<td><%= @customer.post_code %></td>
	</tr>

	<tr>
	<th>住所</th>
	<td><%= @customer.address %></td>
	</tr>

	<tr>
	<th>電話番号</th>
	<td><%= @customer.telephone %></td>
	</tr>

	<tr>
	<th>メールアドレス</th>
	<td><%= @customer.email %></td>
	</tr>

	<tr>
		<td>
			<%= link_to '編集する', edit_admin_customer_path(@customer.id),class: 'btn btn-primary' %>
		</td>
		<td>
			<%= link_to '注文履歴一覧', admin_orders_path,class: 'btn btn-primary' %>
		</td>
	</tr>

</table>

