<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 style="margin-top: 120px;"><%= @customer.family_name %><%= @customer.first_name%>さんの会員詳細</h1>
			<div style="color: #000;">
				<%= flash[:update] %>
			</div>

				<table class="table info_table" style="width: 600px; margin-top:20px;">
					<tr>
					<th class="list_name">顧客ID</th>
					<td><%= @customer.id %></td>
						<td>
							<%if @customer.is_deleted == false %>
								<h5>有効</h5>
							<% else %>
								<h5>無効</h5>
							<% end %>
						</td>
					</tr>

					<tr>
					<th class="list_name">氏名</th>
					<td><%= @customer.family_name %><%= @customer.first_name %></td>
					</tr>

					<tr>
					<th class="list_name">フリガナ</th>
					<td><%= @customer.family_name_kana %><%= @customer.first_name_kana %></td>
					</tr>

					<tr>
					<th class="list_name">郵便番号</th>
					<td><%= @customer.post_code %></td>
					</tr>

					<tr>
					<th class="list_name">住所</th>
					<td><%= @customer.address %></td>
					</tr>

					<tr>
					<th class="list_name">電話番号</th>
					<td><%= @customer.telephone %></td>
					</tr>

					<tr>
					<th class="list_name">メールアドレス</th>
					<td><%= @customer.email %></td>
					</tr>
				</table>

				<div style ="margin: 10px;">
					<%= link_to '編集する', edit_admin_customer_path(@customer.id),class: 'btn btn-primary'%>
					<%= link_to '注文履歴一覧', admin_orders_path,class: 'btn btn-primary' %>
				</div>
		</div>
	</div>
</div>

