<div class="container">
<h1>管理画面：注文一覧</h1>
<table class="table table-striped">
	<body>
		<% @orders.each do |order| %>
			<tr>
				<td><%= order.name %></td>
				<td><%= order.order_status %></td>
				<td><%= order.total_payment %></td>
				<td><%= link_to '詳細画面', orders_show_path(order.id) %></td>
			</tr>
		<% end %>
	</body>
</table>
<%= link_to 'マイページへ', customers_path %>
</dic>