<table class="table">
	<thead>
		<tr>
			<th>お客様情報</th>
		</tr>

		<tr>
			<th>名前</th>
			<th><%= customer.family_name_kana %><%= customer.first_name_kana %></th>
			<th><%= customer.family_name %><%= customer.first_name %></th>
		</tr>

		<tr>
			<th>住所</th>
			<th><%= customer.post_code %></th>
			<th><%= customer.address %></th>
			<th>電話番号</th>
			<th><%= customer.telephone %></th>
			<th>名前</th>
			<th><%= customer.email %></th>
		</tr>
</table>