<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div style=" margin-top: 100px; color: #fff;"><%= flash[:change] %></div><br>
			<h2 class="text-muted" style="color: #fff;"><strong>My page</strong></h2>
				<h3 style="color: #fff;"><strong>ご登録情報</strong></h3>

				<%= link_to edit_customers_path, method: :get do%>
				<div class="btn">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true" style="color: #fff; font-weight: 600;"> 編集する</span>
	　　			</div>
				<% end %>
				<table class="table table-bordered mytable table_title" style="margin-top: 10px;  height: 200px; width: 1000px;">
					<tbody>
						<tr>
							<th>名前</th>
							<td><%= @customer.family_name_kana %><%= @customer.first_name_kana %></td>
						</tr>
						<tr>
							<th>カナ</th>
							<td><%= @customer.family_name %><%= @customer.first_name %></td>
						</tr>

						<tr>
							<th>郵便番号</th>
							<td><%= @customer.post_code %></td>
						</tr>
						<tr>
							<th>住所</th>
							<td><%= @customer.address %></td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td><%= @customer.telephone %></td>
						</tr>
						<tr>
							<th>名前</th>
							<td><%= @customer.email %></td>
						</tr>
					</tbody>

				</table>

				<table>
						<tr style="margin-top: : 10px;">
							<td>
								<%= link_to addresses_path, method: :get do %>
									<span class="glyphicon glyphicon-home" aria-hidden="true" style="font-size: 15px; color: #fff; font-weight: 600; margin-bottom: 10px;">　配送先一覧を見る</span>
								<% end %>
							</td>
						</tr>
						<tr>
							<td>
								<%= link_to orders_path, method: :get do %>
									<span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 15px; color: #fff; font-weight: 600;">　注文履歴を見る</span>
								<% end %>
							</td>
						</tr>
				</table>

	</div>
</div>
