<div class="container">
   <div class="row" style="margin-top:100px">

	 <!-- ジャンル検索（パーシャル） -->
	  <%= render "genre_search", genres: @genres %>

	    <div class="col-xs-1">
    	</div>


		<div class="col-xs-4" style ="margin: 60px 0 60px 0">
    	<h2>商品詳細</h2>
			<%= attachment_image_tag @item, :image,style: "width:100%; "%>
		</div>
		<div class="col-xs-5" style ="margin: 60px 0 60px 0">

			<h3><%= @item.name %></h3>
			<p><%= @item.introduction%></p>
			<!-- application_helper (税込価格	) -->
			<h4><%= (@item.price*1.10).round %>
				<span>円(税込価格)</span>
			</h4>
			<!-- #選択型のプルダウンメニュー -->
			<%= form_for(@cart_item) do |f| %>
				<%= f.hidden_field :item_id %>
				<%= f.submit "カートに入れる" %>
				<%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10] %>
			<% end %>
		</div>
	</div>
</div>