<h1 style="margin-top: 100px;">ショッピングカート</h1>
<%= button_to 'カートを空にする', @cart, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'btn btn-danger' %>
<table class="table">
  <tr>
  	<th></th>
    <th>商品名</th>
    <th>値段</th>
    <th>個数</th>
    <th>小計</th>
  </tr>

  <% @cart_items.each do |cart_item| %>
	  <tr>
	  	<td><%= attachment_image_tag cart_item.item, :image, size: "60x60",  fallback: "no_image.jpg"%></td>
	  	<td><%= cart_item.item.name %></td>
	  	<td><%= cart_item.item.price %></td>
	  	<td>
	  		<%= form_with model: cart_item,url:cart_item_path(cart_item.id), method: :patch, local: true do |f| %>
	  		<%= f.text_field :quantity %>
	  			<div class="actions">
					<%= f.submit '変更', class: "btn btn-primary" %>
				</div>
	  		<% end %>
	  	</td>
	  	<td><%= (cart_item.item.price*1.10).round %></td>
	  	<td><%= link_to '削除',cart_item_path(cart_item.id),method: :delete,class: 'btn btn-danger',"data-confirm" => "Are you sure?" %></td>
	  </tr>
	<% end %>

</table>

<%= link_to '買い物を続ける', root_path, :class => 'btn btn-primary' %>
<%= link_to '情報入力に進む', new_order_path, :class => 'btn btn-success' %>


