<!DOCTYPE html>
  <html>
      <head>
        <title>NaganoCake</title>
          <%= csrf_meta_tags %>
          <%= csp_meta_tag %>
          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>
<body>


      <header class="navbar navbar-fixed-top navbar-inverse">
          <div class="container">
            <nav class="navbar navbar-left">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8"></button>
                  <% if admin_signed_in? %>
                    <div class="navbar-brand"><%= link_to admin_admins_top_path do %>
                      <div style="color: #ffffff;">Nagano Cake</div><% end %></div>
                    <% else %>
                    <div class="navbar-brand"><%= link_to root_path do %><div style="color: #ffffff;">Nagano Cake</div><% end %></div>
                    <% end %>
                </div>
            </nav>
        <div style="margin-top: 20px;"></div>

       <nav>
        <ul class="nav-list nav navbar-nav navbar-right">

          <% if customer_signed_in? %>
            <li class="nav-list-item">
              <div style="margin-top: 15px; color: #ffffff;"><p>ようこそ
              <%= link_to customers_path do %>
              <%= current_customer.family_name %><%= current_customer.first_name %>
              <% end %>
              さん。</p></div>
            </li>
            <li class="nav-list-item"><%= link_to 'マイページ', customers_path %></li>
            <li class="nav-list-item"><%= link_to '商品一覧', items_path %></li>
            <li class="nav-list-item"><%= link_to '買い物カゴ', cart_items_path %></li>
            <li class="nav-list-item"><%= link_to 'ログアウト', customers_sign_out_path, method: :delete %></li>
          <% elsif admin_signed_in? %>
            <li class="nav-list-item"><%= link_to '商品一覧', admin_items_path %></li>
            <li class="nav-list-item"><%= link_to '会員一覧', admin_customers_path %></li>
            <li class="nav-list-item"><%= link_to '注文履歴一覧', admin_orders_path %></li>
            <li class="nav-list-item"><%= link_to 'ジャンル一覧', admin_genres_path %></li>
            <li class="nav-list-item"><%= link_to 'ログアウト', admins_sign_out_path, method: :delete %></li>
          <% else %>
            <li class="nav-list-item"><%= link_to 'About', customers_top_about_path %></li>
            <li class="nav-list-item"><%= link_to '商品一覧', items_path %></li>
            <li class="nav-list-item"><%= link_to '新規登録', customers_sign_up_path %></li>
            <li class="nav-list-item"><%= link_to 'ログイン', customers_sign_in_path %></li>
            <div class="collapse navbar-collapse" id="navbarEexample8"></div>
          <%end%>
        </ul>
       </nav>
       </div>
      </header>
   <%= yield %>
  </body>
</html>
